/*Boostrap 3 col-xs*/

.col-xs-12 {
    width: 100%;
}

.col-xs-11 {
    width: 91.66666667%;
}

.col-xs-10 {
    width: 83.33333333%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-7 {
    width: 58.33333333%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-5 {
    width: 41.66666667%;
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-2 {
    width: 16.66666667%;
}

.col-xs-1 {
    width: 8.33333333%;
}

.col-xs-pull-12 {
    right: 100%;
}

.col-xs-pull-11 {
    right: 91.66666667%;
}

.col-xs-pull-10 {
    right: 83.33333333%;
}

.col-xs-pull-9 {
    right: 75%;
}

.col-xs-pull-8 {
    right: 66.66666667%;
}

.col-xs-pull-7 {
    right: 58.33333333%;
}

.col-xs-pull-6 {
    right: 50%;
}

.col-xs-pull-5 {
    right: 41.66666667%;
}

.col-xs-pull-4 {
    right: 33.33333333%;
}

.col-xs-pull-3 {
    right: 25%;
}

.col-xs-pull-2 {
    right: 16.66666667%;
}

.col-xs-pull-1 {
    right: 8.33333333%;
}

.col-xs-pull-0 {
    right: auto;
}

.col-xs-push-12 {
    left: 100%;
}

.col-xs-push-11 {
    left: 91.66666667%;
}

.col-xs-push-10 {
    left: 83.33333333%;
}

.col-xs-push-9 {
    left: 75%;
}

.col-xs-push-8 {
    left: 66.66666667%;
}

.col-xs-push-7 {
    left: 58.33333333%;
}

.col-xs-push-6 {
    left: 50%;
}

.col-xs-push-5 {
    left: 41.66666667%;
}

.col-xs-push-4 {
    left: 33.33333333%;
}

.col-xs-push-3 {
    left: 25%;
}

.col-xs-push-2 {
    left: 16.66666667%;
}

.col-xs-push-1 {
    left: 8.33333333%;
}

.col-xs-push-0 {
    left: auto;
}

.col-xs-offset-12 {
    margin-left: 100%;
}

.col-xs-offset-11 {
    margin-left: 91.66666667%;
}

.col-xs-offset-10 {
    margin-left: 83.33333333%;
}

.col-xs-offset-9 {
    margin-left: 75%;
}

.col-xs-offset-8 {
    margin-left: 66.66666667%;
}

.col-xs-offset-7 {
    margin-left: 58.33333333%;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

.col-xs-offset-5 {
    margin-left: 41.66666667%;
}

.col-xs-offset-4 {
    margin-left: 33.33333333%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-xs-offset-2 {
    margin-left: 16.66666667%;
}

.col-xs-offset-1 {
    margin-left: 8.33333333%;
}

.col-xs-offset-0 {
    margin-left: 0%;
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
    display: none !important;
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
    display: none !important;
}

@media (max-width: 767px) {
    .visible-xs {
        display: block !important;
    }
    table.visible-xs {
        display: table !important;
    }
    tr.visible-xs {
        display: table-row !important;
    }
    th.visible-xs,
    td.visible-xs {
        display: table-cell !important;
    }
}

@media (max-width: 767px) {
    .visible-xs-block {
        display: block !important;
    }
}

@media (max-width: 767px) {
    .visible-xs-inline {
        display: inline !important;
    }
}

@media (max-width: 767px) {
    .visible-xs-inline-block {
        display: inline-block !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm {
        display: block !important;
    }
    table.visible-sm {
        display: table !important;
    }
    tr.visible-sm {
        display: table-row !important;
    }
    th.visible-sm,
    td.visible-sm {
        display: table-cell !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-block {
        display: block !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline {
        display: inline !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline-block {
        display: inline-block !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md {
        display: block !important;
    }
    table.visible-md {
        display: table !important;
    }
    tr.visible-md {
        display: table-row !important;
    }
    th.visible-md,
    td.visible-md {
        display: table-cell !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-block {
        display: block !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-inline {
        display: inline !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-inline-block {
        display: inline-block !important;
    }
}

@media (min-width: 1200px) {
    .visible-lg {
        display: block !important;
    }
    table.visible-lg {
        display: table !important;
    }
    tr.visible-lg {
        display: table-row !important;
    }
    th.visible-lg,
    td.visible-lg {
        display: table-cell !important;
    }
}

@media (min-width: 1200px) {
    .visible-lg-block {
        display: block !important;
    }
}

@media (min-width: 1200px) {
    .visible-lg-inline {
        display: inline !important;
    }
}

@media (min-width: 1200px) {
    .visible-lg-inline-block {
        display: inline-block !important;
    }
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important;
    }
}

.visible-print {
    display: none !important;
}

@media print {
    .visible-print {
        display: block !important;
    }
    table.visible-print {
        display: table !important;
    }
    tr.visible-print {
        display: table-row !important;
    }
    th.visible-print,
    td.visible-print {
        display: table-cell !important;
    }
}

.visible-print-block {
    display: none !important;
}

@media print {
    .visible-print-block {
        display: block !important;
    }
}

.visible-print-inline {
    display: none !important;
}

@media print {
    .visible-print-inline {
        display: inline !important;
    }
}

.visible-print-inline-block {
    display: none !important;
}

@media print {
    .visible-print-inline-block {
        display: inline-block !important;
    }
}

@media print {
    .hidden-print {
        display: none !important;
    }
}





/* KP-Show/hide password */
.kp-control {
    cursor: pointer;
}

/* Alert */

.alert {
    font-size: 16px;
}

.k-notify-wrap, .alert-warning.k-notify-wrap {
    padding: 2rem;
}

.alert-info.k-notify-wrap {
    box-shadow: 0 .1rem 2rem rgba(46, 115, 243, 0.1);
}

.alert-warning.k-notify-wrap {
    box-shadow: 0 .1rem 2rem rgba(245, 195, 8, 0.1);
}
.alert-danger.k-notify-wrap {
    box-shadow: 0 .1rem 2rem rgba(214, 31, 2, 0.1);
}
.alert-success.k-notify-wrap {
    box-shadow: 0 .1rem 2rem rgba(12, 144, 38, 0.1);
}

.k-notify-icon {
    display: table;
    height: 3.2rem;
    border: .1rem solid;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 3.7rem;
    float: left;
    text-align: center;
    line-height: 3.2rem;
    margin-right: 1rem;
    padding: .2rem;
    font-size: 1.8rem;
    box-shadow: 0 .1rem 1.5rem rgba(0,0,0,.1);
    margin-top: -5px;
}

.k-notify-icon.warning {
    background: #f5c308;
    color: #ffffff;
}

.k-notify-icon.success {
    background: #046045;
    color: #ffffff;
}

.k-notify-icon.danger {
    background: #d61f02;
    color: #ffffff;
}

.k-notify-icon.info {
    background: #5290d6;
    color: #ffffff;
}

[data-notify="progressbar"] {
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 3px;
    background: rgba(0, 0, 0, 0.29);
}

[data-notify="message"] {
    margin-left: 4.8rem;
    display: block;
    margin-top: -25px;
    font-size: 16px;
    font-family: 'Proxima Nova', sans-serif;
}

.k-round-icon {
    background: #ffffff;
    color: #f92e0d; width: 4rem;
    height: 4rem; line-height: 4rem;
    padding: 1.2rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 .1rem 1.7rem rgba(0,0,0,0.2);
}

/* Block*/
.ky-box {
    -moz-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
    -o-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
    background: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.ky-box .ky-box-body {
    padding: 30px 25px;
}

.ky-box form .form-group.form-group-default {
    border-color: #ddd;
}

.ky-box::after {
    display: block;
    clear: both;
    content: "";
}

/* Form Controls */
.form-group-default .form-control {
    font-size: 18px;
    font-weight: normal;
    color: #333333;
}

.checkbox label {
    font-size: 18px;
}
/* Dashboard Header */
.header {
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.3);
}

.header.frontend {
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.1);;
}
.header.frontend .bg-white {
    border-bottom: 0 solid;
}

.header.dashboard-header {
    background-color: #198c21;
    border-bottom: 1px solid #198c21;
    color: #ffffff;
}

.header.dashboard-header a{
    color: #ffffff;
}

.header.dashboard-header .text-master {
    color: #ffffff !important;
}

.header.dashboard-header .dropdown-menu > li, .dropdown-menu > .dropdown-item {
    color: #575757 !important;
}

.notification-panel .notification-body .notification-item.unread .option {
    background-color: #d7fbe9;
}

.notification-panel .notification-body .notification-item.unread .option .mark {
    color: #1ec82a;
}

.notification-panel {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
}

.header.dashboard-header .notification-panel .notification-footer a {
    color: #575757;
}

/* Dashboard sidebar */
.secondary-sidebar ul li a > .title,
.page-sidebar .sidebar-menu .menu-items > li > a.detailed > .title,
.page-sidebar .sidebar-menu .menu-items > li > a > .title{
    font-family: 'Proxima Nova', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

body.menu-behind .page-sidebar {
    box-shadow: 0 2px 22px 0 rgba(0, 144, 32, 0.3);
}

.page-sidebar .sidebar-header {
    background-color: #198c21;
    border-bottom: 0 solid #15830e66;
}

.page-sidebar .sidebar-menu .menu-items > li > a.detailed > .title,
.page-sidebar .sidebar-menu .menu-items > li > a > .title {
    color: #ffffff;
}

.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu {
    background-color: #17831e;
}

.page-sidebar .sidebar-menu .menu-items li > a,
.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li > a{
    color: #ffffff;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 14px;
}

.page-sidebar .sidebar-menu .menu-items li.ky-active {
    background: rgba(0,0,0,0.08);
}

.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li .icon-thumbnail {
    font-family: 'Proxima Nova', sans-serif;
}

.secondary-sidebar-inner {
    height: 500px;
    overflow-y: auto;
    z-index: 10;
}

@media (max-width: 768px) {
    .page-sidebar .sidebar-header {
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.3);
    }
}

@media (max-height: 520px) {
    .secondary-sidebar-inner {
        max-height: 500px;
    }
}

@media (max-height: 350px) {
    .secondary-sidebar-inner {
        max-height: 343px;
    }
}

@media (max-width: 350px) and (max-height: 500px) {
    .secondary-sidebar-inner {
        max-height: 350px;
    }
}

@media (max-width: 500px) and (max-height: 350px) {
    .secondary-sidebar-inner {
        max-height: 200px;
    }
}

/* Horizontal menu */
.horizontal-app-menu .menu-bar ul li .sub-menu li a {
    font-size: 15px;
}

.secondary-sidebar-inner::after {
    display: block;
    clear: both;
    content: "";
}

/* Quickview tabs*/
.quickview-wrapper .nav-tabs {
    background-color: #ebf5f3;
}

.quickview-wrapper .quickview-toggle {
    cursor: pointer;
}

.quickview-wrapper .nav-tabs > li.active > a, .quickview-wrapper .nav-tabs > li.active > a:hover, .quickview-wrapper .nav-tabs > li.active > a:focus {
    color: #1fa512;
    border-bottom: 3px solid #1fa512;
}

.quickview-wrapper .nav-tabs ~ .tab-content ul li:hover {
    background: #e4f3e9;
}

/* Top header */
.profile-dropdown-toggle {
    cursor: pointer;
}

/* bs btn */
.btn,
.btn:hover{
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.07);
}

.logout-btn {
    background-color: #e8e9ea;
    margin-bottom: -13px;
    padding-bottom: 8px;
    padding-top: 5px;
}

.logout-btn:hover {
    background-color: #f2f3f4;
}

.pointer {
    cursor: pointer;
}

/* Home */
.full-width.home-banner .banner-title {
    color: #333333;
    font-weight: bolder;
}

.full-width.home-banner .banner-sub-title {
    font-weight: 300;
    margin-top: -10px;
}

.full-width.home-banner {
    background-color: #1c9d25;
    margin-top: -30px;
    background-image: url("../img/bg/banner-bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 130px;
    margin-bottom: 30px;
}

.full-width.home-banner .form-group-default.form-group-default-select2 .select2-container .select2-selection--single {
    height: 54px;
}

.full-width.home-banner .home-search-btn {
    background-color: #1c9d25;
    background-image: linear-gradient(to right, #099c14, #05500a) !important;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    height: 55px;
}

/* Alternative search form */
.form .alternative-search-form {
    margin-top: 15px;
}
.form .alternative-search-form .collapse.show .wrapper {
    opacity: 1;
    transform: scale(1);
}
.form .alternative-search-form .wrapper {
    opacity: 0;
    transition: .1s ease;
    transform: scale(.98);
    margin-top: 1rem;
    box-shadow: 0 .1rem 1rem rgba(0,0,0,.1);
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
}

.form .alternative-search-form .wrapper:before {
    border-style: solid;
    border-width: 0 .45rem .6rem .45rem;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -.6rem;
    left: 1.7rem;
    content: "";
}
.form .alternative-search-form .wrapper:after {
    border-style: solid;
    border-width: 0 .55rem .7rem .55rem;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    top: -.7rem;
    left: 1.7rem;
    content: "";
}

.form .alternative-search-form a.icon {
    color: #000;
    text-shadow: 0 2px 5px 0 #ffffff;
}

#collapseAlternativeSearchForm .form-control {
    border-color: #dddddd;
}

.ky-home-categories {
    background: #ffffff;
    margin-top: -130px;
    z-index: 1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 2px 20px 0 rgba(14, 78, 18, 0.2);
    padding-top: 25px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 80px;
}

.ky-home-categories::after {
    clear: both;
    content: '';
}

.ky-home-categories .ky-home-category-item {
    text-align: center;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
    background: #099c14;
    background: linear-gradient(180deg, #0ab316, #000000);
    display: block;
    padding: 20px 25px;
    margin-bottom: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.ky-home-categories .ky-home-category-item:hover {
    background: linear-gradient(180deg, #0ce91b, #262629);
    color: #ffffff;
}

.ky-home-categories .ky-home-category-item:hover .ky-home-category-title,
.ky-home-categories .ky-home-category-item:hover .ky-home-category-icon {
    color: #ffffff;
}

.ky-home-categories .ky-home-category-item .ky-home-category-img,
.ky-home-categories .ky-home-category-item .ky-home-category-icon{
    width: 70%;
    margin: 0 auto;
}

/* Flaticons */
.ky-home-categories .ky-home-category-item .ky-home-category-icon {
    padding-top: 17px;
    color: rgba(216, 255, 248, 0.67);
}
.ky-home-categories [class^="flaticon-"]::before,
.ky-home-categories [class*=" flaticon-"]::before,
.ky-home-categories [class^="flaticon-"]::after,
.ky-home-categories [class*=" flaticon-"]::after {
    font-size: 64px;
    font-style: normal;
    margin-left: auto;
    top: 10px !important;
}

@media (max-width: 400px) {
    .ky-home-categories [class^="flaticon-"]::before,
    .ky-home-categories [class*=" flaticon-"]::before,
    .ky-home-categories [class^="flaticon-"]::after,
    .ky-home-categories [class*=" flaticon-"]::after {
        font-size: 40px;
    }
}

.ky-home-categories .ky-home-category-item .ky-home-category-title {
    margin-bottom: -5px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(234, 255, 253, 0.67);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ky-home-categories .ky-home-category-item .ky-home-category-counter {
    position: absolute;
    right: 0;
    top: 0;
    background: #fe4101;
    color: #ffffff;
    padding: 5px 10px;
    display: inline-block;
    -webkit-border-radius: 25px 3px 3px 25px;
    -moz-border-radius: 25px 3px 3px 25px;
    border-radius: 25px 3px 3px 25px;
    font-size: 13px;
    margin-right: -5px;
}

#homeSearchForm .form-group-default label {
    /*font-weight: 400;*/
}

.ky-typeahead.form-group-default {
    overflow: visible;
}

/* Ky-items */
.ky-items-headings {
    border-left: 1px solid #138d18;
    padding-left: 10px;
}

@media (min-width: 768px) {
    .ky-items-headings {
        margin-bottom: -40px;
        margin-left: -5px;
    }
}

@media (max-width: 768px) {
    .ky-items-headings {
        margin-bottom: 30px;
        margin-top: -20px;
        margin-left: 15px;
    }
}

.ky-items-heading {
    margin-bottom: 0;
    font-weight: 600 !important;
}
.ky-items-sub-heading {
    margin-top: -8px;
    font-size: 18px !important;
}

.ky-items-owl-carousel .item {
    padding-top: 30px;
    padding-bottom: 20px;
}

.ky-items-owl-carousel .owl-controls .owl-nav .owl-prev,
.ky-items-owl-carousel .owl-controls .owl-nav .owl-next {
    /*background: #ffffff;*/
    /*box-shadow: 0 2px 12px 0 rgba(0,0,0,0.2);*/
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    top: 150px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: #ee000a;
    position: absolute;
}

.ky-items-owl-carousel .owl-controls .owl-nav .owl-prev {
    left: -50px;
}

.ky-items-owl-carousel .owl-controls .owl-nav .owl-next {
    right: -50px;
}

.ky-items-owl-carousel .owl-carousel .owl-stage-outer {
    overflow: visible;
}

.ky-items-owl-carousel .owl-controls .owl-nav .owl-prev.disabled,
.ky-items-owl-carousel .owl-controls .owl-nav .owl-next.disabled {
    display: none !important;
}

.ky-items {
    margin-bottom: 20px;
}

.ky-items-show-all {
    margin-bottom: 20px;
    position: relative;
}

@media (max-width: 768px) {
    .ky-items-show-all {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 35px;
        text-align: right;
    }
}

.ky-items-show-all a{
    text-decoration: underline;
}
.ky-items .ky-item {
    display: block;
    /*border: 1px solid #dddddd;*/
    box-shadow: 0 .1rem 1rem rgba(0,0,0,.1);
    transition: .3s box-shadow ease, .3s transform ease;
    border-radius: .5rem;
    background-color: #fff;
    position: relative;
    transform: translateY(0);
    margin: 10px;
}

.ky-items .ky-item-img-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.ky-items .ky-item-img {
    display: block;
    width: 100%;
    height: 13rem;
    position: relative;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background-position: 50%;
    background-size: cover;

}

@media (max-width: 500px) {
    .ky-items .ky-item-img {
        height: 16rem;
    }
}

.ky-items .ky-item-img::before {
    opacity: .8;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15rem;
    content: "";
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(12, 160, 33, 0.81) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(12, 160, 33, 0.81) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(12, 160, 33, 0.81) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
}

.ky-items .ky-item-img img {
    margin-top: -30px;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    max-width: 100%;
}

.ky-items .ky-item-price {
    position: absolute;
    right: 0;
    margin-top: -50px;
    display: inline-block;
    background-image: linear-gradient(to right, rgba(237, 252, 255, 0), #ea2e05);
    /*box-shadow: 0 2px 12px 0 rgba(0,0,0,0.3);*/
    color: #ffffff;
    padding-bottom: 5px;
    padding-top: 5px;
    max-width: 90%;

}

.ky-items .ky-item-price.with-sub-price {
    margin-top: -62px;
}

.ky-items .ky-item-price .price {
    display: block;
    overflow: hidden;

    padding: 10px 15px;
    /*-webkit-border-radius: 25px;*/
    /*-moz-border-radius: 25px;*/
    /*border-radius: 25px;*/
    font-size: 25px;
    max-width: 100%;
    font-weight: 400;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ky-items .ky-item-price .small,
.ky-items .ky-item-price .sub-price{
    font-size: 80%;
    font-weight: 300;
    bottom: 10px;
    color: #ffffff;
    display: block;
    margin-top: -5px;
}

.ky-item .ky-item-meta {
    padding: 20px;
    margin-top: -10px;
}
.ky-item .ky-item-meta .ky-item-meta-title {
    font-size: 20px;
    margin-top: -5px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #444444;
}

.ky-item .ky-item-meta .ky-item-meta-cats {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.ky-item .ky-item-meta .ky-item-meta-cats > a,
.ky-item .ky-item-meta .ky-item-meta-cats{
    color: #888a85;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
}


/* Ky-owl-carousel */

.ky-owl-carousel .owl-controls .owl-nav .owl-prev,
.ky-owl-carousel .owl-controls .owl-nav .owl-next {
    background: #ffffff;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.2);
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    top: 30px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: #ee000a;
}

.ky-owl-carousel .owl-controls .owl-nav .owl-prev {
    position: absolute;
    left: -23px;
}

.ky-owl-carousel .owl-controls .owl-nav .owl-next {
    position: absolute;
    right: -23px;
}

.ky-owl-carousel .owl-controls .owl-nav .owl-prev.disabled,
.ky-owl-carousel .owl-controls .owl-nav .owl-next.disabled {
    background: #dddddd;
    color: #999999;
    cursor: not-allowed;
}

.ky-item-user-contents {
    padding: 10px 15px;
    margin-top: -20px;
    background-color: #ffffff;
    border-top: 1px solid #dddddd;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.ky-items .ky-item-user {
    display: table;
    width: 100%;
    vertical-align: middle;
}

.ky-items .ky-item-user::after {
    clear: both;
    content: '';
}

.ky-items .ky-item-user-img {
    overflow: hidden;
    float: left;
    margin-right: 5px;
    vertical-align: middle;
    width: 30px;
}

.ky-items .ky-item-user-img img{
    width: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.ky-items .ky-item-user-meta {
    font-size: 13px;
}

.ky-items .ky-item-user-meta > span {
    color: #555555;
    display: block;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ky-items .ky-item-user-meta > span.name {
    margin-bottom: -4px;
    font-weight: 500;
    text-transform: uppercase;
}

.ky-items .ky-item-user-meta > span.location {
    font-weight: 300;
}


.ky-items .ky-item .ky-item-user-verified-badge {
    position: absolute;
    left: 13px;
    width: 15px;
    margin-top: -40px;
}

.gallery.home-gallery {
    position: relative;
    width: 100% !important;
    height: 1500px;
}

    /* Select2 */

.select2-search--dropdown .select2-search__field {
    padding: 4px 10px;
    font-size: 16px;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #939090;
    font-weight: 400;
    font-size: 17px;
}

@media (max-width: 1000px) {
    .ky-items-owl-carousel .owl-controls .owl-nav .owl-next,
    .ky-items-owl-carousel .owl-controls .owl-nav .owl-prev {
        top: 140px;
        /*width: 40px;*/
        /*line-height: 40px;*/
        /*height: 40px;*/
        background-color: rgba(255, 255, 255, 0.71);
        box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
        color: rgba(6, 81, 17, 0.89);
    }
    .ky-items-owl-carousel .owl-controls .owl-nav .owl-prev {
        left: 40px;
    }

    .ky-items-owl-carousel .owl-controls .owl-nav .owl-next {
        right: 40px;
    }
}

@media (max-width: 768px) {
    .ky-home-categories {
        margin-top: -90px;
        margin-bottom: 100px;
    }

    .ky-items-owl-carousel {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: -60px;
    }
    .checkbox label {
        font-size: 14px;
    }
    .form-row .d-xs-grid {
        margin-bottom: 10px;
    }
    .form-row .checkbox {
        width: 50%;
    }
}



/* bttns */


